@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(-25%);
  }
  100% {
    opacity: 1;
  }
}
@keyframes pop {
  50% {
    transform: translateY(+20px);
  }
}
p, h1.home {
  font: 16.5px 'Times New Roman', serif;
  line-height: 1.8;
  letter-spacing: .1px;
}
a {
  font: 14px verdana, sans-serif;
}
.home:not(h1) {
  display: none;
}
.hero-image {
  display: block;
  height: 112px;
  width: 100%;
  text-align: center;
  background: center/cover #E6E6E6 url(../images/home_bg_mobile.jpg) no-repeat;
  overflow: hidden;
}
.hero-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  animation: fadein 3s;
}
h1.home {
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  padding: 0;
  color: var(--accent-color);
  letter-spacing: 1px;
  text-transform: none;
}
.altBaseFrame {
  padding: 54px 0;
}
.altBase {
  max-width: 1080px;
  padding: 20px 48px;
  margin: 0 auto;
}
.subtitle {
  margin-bottom: 7px;
}
.img-card {
  min-height: 192px;
  min-width: 192px;
}
.card, .img-card {
  margin: 36px 0;
}
.about-img {
  background: url(../images/workspace.svg) center no-repeat;
}
.name-img {
  background: url(../images/creative_process.svg) center no-repeat;
}
.insta-img {
  background: url(../images/instagram.svg) center no-repeat;
}
.languages-img {
  background: url(../images/coding.svg) center no-repeat;
}
.projects-img {
  background: url(../images/seo.svg) center no-repeat;
}
.dark {
  background: #000;
  color: rgba(255,255,255,.6);
}
.dark .hash {
  color: rgba(255,255,255,.6);
}
.project-card {
  vertical-align: middle;
  display: block;
  margin: 0 0 10px;
  border-radius: 4px;
  border: rgba(255,255,255,.6) solid 1px;
  padding: 8px 48px;
  color: inherit;
  line-height: inherit;
  background-repeat: no-repeat;
  background-size: auto 32px;
  background-position: 8px center;
}
.project-card:hover {
  border: #fff solid 1px;
  color: #fff;
  text-decoration: none;
}
@media only screen and (min-width: 500px) and (min-height: 600px) {
  .altBase {
    padding: 20px 32px;
  }
  .hero-image {
    height: calc(100vh - 108px);
    background: #E6E6E6 center/cover url(../images/home_bg.jpg) no-repeat;
  }
  .home,span.home,button.home {
    display: block;
    margin: auto;
    margin-bottom: 48px;
  }
  span.home {
    background: center/cover url(../images/logo_big.svg) no-repeat;
    height: 256px;
    width: 256px;
    font-size: 0;
  }
  h1.home {
    font-size: 48px;
  }
  button.home {
    height: 72px;
    width: 72px;
    outline: 0;
    background: center/cover url(../images/expand_blue.svg) no-repeat;
  }
  button.home:hover {
    animation: pop .5s;
  }
  h2 {
    margin-top: 6px;
    margin-bottom: 12px;
  }
  .subtitle {
    margin-bottom: 12px;
  }
}
@media only screen and (min-width: 1000px) and (min-height: 600px) {
  .card, .img-card {
    margin: 36px;
  }
  .row {
    display: flex;
    align-items: center;
    margin: 36px 0;
  }
  .swapped {
    flex-direction: row-reverse;
  }
  .half {
    display: inline-block;
    width: calc(50% - 75px);
    vertical-align: top;
  }
  .smaller-half {
    width: calc(35% - 72px);
  }
  .bigger-half {
    width: calc(65% - 72px);
  }
}
