div.home{
	display:none;
}
img.home{
	display:none;
}
h1.home{
	display:none;
}
div.altBaseFrame{
	padding: 54px 0;
}
div.altBase{
	max-width:780px;
	padding: 20px 10px;
	margin:0 auto;
}
@keyframes fadein {
  from {opacity: 0;transform: translateY(+20px);}
  to   {opacity: 1;}
}
@media only screen and (min-width: 600px) {
	div.home{
		display:block;
		height:512px;
		width:100%;
		padding-top:54px;
		text-align:center;
		background-color:#04325A;
		background-image:url(../images/home_bg.jpg);
		background-repeat:no-repeat;
		background-size:cover;
	}
	img.home{
		display:inline-block;
		height:384px;
		animation: fadein 3s;
	}
	h1.home{
		display:inline-block;
		font-weight:bold;
		font-size:48px;
		animation: fadein 3s;
	}
	.dark{
		background-color:#000;
		background-image:url(../images/darkBg.jpg);
		color:#fff;
	}
}