:root {
  --accent-color: #1369BF;
  --text-color: rgba(0, 0, 0, .87);
  --text-color-secondary: rgba(0, 0, 0, .6);
  --hover-color: rgba(128, 128, 128, .125);
  --border-radius: 16px;
  --card-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}
::-webkit-scrollbar {
  width: 16px;
  background: #F1F1F1;
}
::-webkit-scrollbar-button {
  height: 16px;
  background: #C1C1C1;
  border: 2px solid #F1F1F1;
  border-radius: var(--border-radius);
}
::-webkit-scrollbar-button:hover {
  background: var(--accent-color);
}
::-webkit-scrollbar-thumb {
  background: #C1C1C1;
  border: 2px solid #F1F1F1;
  border-radius: var(--border-radius);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}
@keyframes transformation {
  0% {
    opacity: 0;
    transform: translateY(+10px);
  }
  100% {
    opacity: 1;
  }
}
* {
  padding: 0;
  margin: 0;
}
html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
html, body {
  color: var(--text-color-secondary);
  height: 100%;
  width: 100%;
  font: 14px verdana, sans-serif;
  line-height: 1.8;
  letter-spacing: .1px;
}
header {
  position: fixed;
  top: 0;
  height: 54px;
  width: 100%;
  overflow: hidden;
  z-index: 3;
}
.header-shadow {
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, .5);
}
h1 {
  color: var(--text-color);
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 18px;
  padding: 18px 9px;
  text-decoration: none;
  text-transform: uppercase;
}
.logo {
  display: block;
  float: left;
  height: 46px;
  width: 95px;
  margin: 4px;
  background: rgba(0, 0, 0, 0) url(../images/logo.svg) no-repeat 16px 7px;
  background-size: 58px 32px;
  border-radius: var(--border-radius);
  font-size: 0;
}
.logo:hover {
  background-color: var(--hover-color);
}
main, .altBase {
  animation: transformation 1s;
}
img {
  max-width: 100%;
  height: auto;
}
.pixel {
  height: 128px;
  width: 128px;
}
main {
  max-width: 780px;
  padding: 86px 32px 32px;
  margin: 0 auto;
  overflow-y: hidden;
}
header, button, a, a * {
  transition-duration: .25s;
}
a {
  color: var(--accent-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.hash {
  float: left;
  margin-left: -22px;
  font-weight: 400;
  color: var(--text-color-secondary);
}
h2 {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 7px;
  margin-top: 32px;
}
h3 {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .5px;
  line-height: 22px;
  margin: 22px 0;
}
.p-margin {
  margin-bottom: 14px;
}
ul {
  list-style-position: inside;
}
code {
  font-weight: bold;
}
table {
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}
td {
  min-width: 214px;
  padding: 7px 8px 8px;
  vertical-align: top;
  background: #F8F8F8;
}
td:first-child {
  background: #eee;
}
pre {
  overflow-x: auto;
  width: calc(100% - 2 * var(--border-radius));
  background: #f9f9f9;
  margin: 1em 0;
  padding: var(--border-radius);
  border-radius: var(--border-radius);
}
.btn {
  display: inline-block;
  margin: 0 0 10px;
  border: 0;
  padding: 8px 16px;
  background: var(--accent-color);
  color: #fff;
  font-size: 12px;
  line-height: 1.25;
  vertical-align: middle;
  border-radius: var(--border-radius);
  box-shadow: var(--card-shadow);
}
.btn:hover {
  filter: brightness(1.2);
  text-decoration: none;
}
.btn:active {
  filter: brightness(1.4);
}
button {
  vertical-align: middle;
  display: inline-block;
  border: 0;
  cursor: pointer;
}
.unavailable {
  background: #595959;
  cursor: not-allowed;
}
.unavailable:hover {
  background: #515151;
}
div.previews {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 16px;
}
div.previews > * {
  display: block;
  border-radius: var(--border-radius);
  overflow: hidden;
  font-size: 0;
}
div.previews > *:hover {
  box-shadow: var(--card-shadow);
}
footer {
  text-align: center;
  padding: 16px;
}
footer * {
  display: block;
  height: 14px;
  padding: 18px 9px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: var(--border-radius);
}
footer a {
  color: var(--accent-color);
}
footer a:hover {
  background: var(--hover-color);
  text-decoration: none;
}
#topBtn {
  position: fixed;
  bottom: 16px;
  right: 16px;
  height: 56px;
  width: 56px;
  line-height: 56px;
  text-align: center;
  border-radius: 50%;
  background: center/32px #fff url(../images/to_top_blue.svg) no-repeat;
  box-shadow: var(--card-shadow);
  outline: 0;
  cursor: pointer;
}
#topBtn:hover {
  filter: brightness(95%);
}
@media screen and (max-width: 800px) {
  td, tr {
    display: block;
  }
}
@media print {
  header, footer {
    display: none;
  }
}
