::-webkit-scrollbar{
  width:17px;
}
::-webkit-scrollbar-button{
  height:17px;
  background:#C1C1C1;
  border:2px solid #F1F1F1;
}
::-webkit-scrollbar-button:hover{
  background:var(--accent-color);
}
::-webkit-scrollbar-track{
  background:#F1F1F1;
}
::-webkit-scrollbar-thumb{
  background:#C1C1C1;
  border:2px solid #F1F1F1;
}
::-webkit-scrollbar-thumb:hover{
  background:var(--accent-color);
}
@keyframes transformation{
  0%{
    opacity:0;
    transform:translateY(+10px);
  }
  100%{
    opacity:1;
  }
}
*{
  padding:0;
  margin:0;
}
html,body{
  color:rgba(0,0,0,.6);
  height:100%;
  width:100%;
  font:14px verdana, sans-serif;
  line-height:1.5;
  letter-spacing:.25px;
}
header,footer{
  position:fixed;
  width:100%;
  overflow:hidden;
  box-shadow:0 0 8px rgba(0,0,0,.5);
  z-index:3;
}
header{
  top:0;
  height:54px;
  background:var(--header-bg-color) var(--header-bg-image) no-repeat;
  background-size:cover;
  font-size:13px;
}
h1{
  color:#fff;
  display:inline-block;
  font-weight:500;
  font-size:14px;
  letter-spacing:3px;
  line-height:18px;
  padding:18px 9px;
  text-decoration:none;
  text-transform:uppercase;
}
.logo{
  float:left;
  height:32px;
  padding:11px 30px;
  width:43px;
  background:rgba(0,0,0,0) url(../images/logo.svg) no-repeat 20px 11px;
  background-size:58px 32px;
  font-size:0;
  box-sizing:content-box;
  display:block;
  left:0;
  position:relative;
}
.logo:hover{
  background:rgba(0,0,0,0) url(../images/logo_hover.png) no-repeat 20px 11px;
  background-size:58px 32px;
}
main,.altBase{
  animation:transformation 1s;
}
img{
  max-width:100%;
  height:auto;
}
.pixel{
  height:128px;
  width:128px;
  image-rendering:pixelated;
}
main{
  max-width:780px;
  padding:74px 24px;
  margin:0 auto;
  overflow-y:hidden;
}
a{
  color:var(--accent-color);
  text-decoration:none;
  transition-duration:.25s;
}
a:hover{
  text-decoration:underline;
}
.hash{
  float:left;
  margin-left:-18px;
  font-weight:400;
  color:rgba(0,0,0,.6);
}
h2{
  color:var(--accent-color);
  font-size:18px;
  font-weight:normal;
  margin-bottom:7px;
  margin-top:32px;
}
h3{
  font-size:14px;
  font-weight:bold;
  letter-spacing:.5px;
  line-height:22px;
  margin:22px 0;
}
.p-margin{
  margin-bottom:14px;
}
ul{
  list-style-position:inside;
}
code{
  font-weight:bold;
}
table{
  width:100%;
}
td{
  min-width:214px;
  padding:7px 8px 8px;
  vertical-align:top;
  background:#F8F9FA;
}
td:first-child{
  background:#EEF1F2;
}
tr{
  border-top:1px solid #cfd8dc;
}
pre{
  overflow-x:auto;
  width:100%;
  background-color:#f7f9f9;
  margin:1em 0;
  color:#434f54;
}
.btn {
  vertical-align: middle;
  display: inline-block;
  margin: 0 0 10px;
  border-radius: 4px;
  border: 0;
  padding: 8px 16px;
  background: var(--accent-color);
  color: #fff;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  font-size: 12px;
  line-height: 1.25;
}
.btn:hover {
  background:#1260AE;
  text-decoration: none;
}
button {
  vertical-align:middle;
  display:inline-block;
  border:0;
  cursor:pointer;
  transition-duration:.25s;
}
.unavailable{
  background:#595959;
  cursor:not-allowed;
}
.unavailable:hover{
  background:#515151;
}
p.preview{
  text-align:center;
}
p.preview img:hover{
  box-shadow:0 0 8px rgba(0,0,0,.25);
}
img.preview{
  display:inline-block;
  max-height:337px;
  vertical-align:middle;
}
footer{
  bottom:0;
  height:64px;
  background-color:#fff;
  color:var(--accent-color);
}
footer *{
  color:var(--accent-color);
  border-radius:16px;
}
footer h1{
  margin:5px;
}
footer h1:hover{
  background:rgba(0,0,0,.05);
}
#topBtn{
  float:right;
  height:48px;
  width:48px;
  margin:8px;
  background:var(--footer-up-image) no-repeat;
  background-size:48px 48px;
}
#topBtn:hover{
  background:rgba(0,0,0,.05) var(--footer-up-image) no-repeat;
  background-size:48px 48px;
}
@media screen and (max-width:800px){
  td,tr{
    display:block;
  }
}
@media print{
  header,footer{
    display:none;
  }
}
