@import url("./modules/hero-content.css");
@import url("./modules/screens.css");
@import url("./modules/calendar.css");
@import url("./modules/floating-emoji.css");
@import url("./modules/reveal.css");
@import url("./modules/experience.css");
@import url("./modules/projects.css");

.workplace > .potted-flower {
  --icon-size: 128px;

  left: calc(var(--icon-size) * -0.5);
  bottom: calc(var(--icon-size) * -0.2);
  background-image: url("../images/emoji/potted_plant_3d.webp");
}

.workplace > .flower {
  right: calc(var(--icon-size) * -0.33);
  top: calc(var(--icon-size) * -0.33);
  background-image: url("../images/emoji/cherry_blossom_3d.webp");
}

.education > span {
  --icon-size: 96px;

  right: calc(var(--icon-size) * -0.25);
  bottom: calc(var(--icon-size) * -0.25);
  background-image: url("../../images/emoji/books_3d.webp");
}

.lighthouse > span {
  --icon-size: 128px;

  right: calc(var(--icon-size) * -0.25);
  bottom: calc(var(--icon-size) * -0.25);
  background-image: url("../../images/emoji/magnifying_glass_tilted_left_3d.webp");
}

.card-grid-4 {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 2fr);
  gap: 16px;
  color: var(--text-color-secondary);
  --screen-unit: 4px;
}

.accent {
  background: var(--color-primary-container);
  --color-primary: #1565C0;
}

.alt-base {
  max-width: 1080px;
  padding: 20px 48px;
  margin: 0 auto;
  animation: transformation 1s;
}

.row > div {
  margin: 48px auto;
}

.small {
  font-size: 12px;
}

.fineprint {
  display: block;
  color: var(--text-color-secondary);
}

.fineprint a {
  color: var(--text-color-secondary);
  text-decoration: underline;
}

.res-grid-2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: calc(32px - 1rem) 32px;
}

@media only screen and (min-width: 780px) and (min-height: 512px) {
  .alt-base {
    padding: 20px 32px;
  }
}

@media only screen and (min-width: 780px) {
  .mobile-only {
    display: none;
  }

  .row {
    display: flex;
    align-items: center;
    padding: 48px;
  }

  .row > div {
    margin: 36px;
  }

  .swapped {
    flex-direction: row-reverse;
  }

  .smaller-half {
    width: calc(35% - 72px);
  }

  .bigger-half {
    width: calc(65% - 72px);
  }

  .res-grid-2 {
    grid-template-columns: repeat(2, 2fr);
  }
}
