@import url("./modules/variables.css");
@import url("./modules/fonts.css");
@import url("./modules/layout.css");
@import url("./modules/hover-underline.css");

@keyframes transformation {
  0% {
    opacity: 0;
    transform: translateY(+10px);
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: var(--color-background);
  font: 16px 'DM Sans', sans-serif;
  line-height: 1.8;
  letter-spacing: .1px;
  scroll-behavior: smooth;
  scroll-padding-top: 54px;
}

h2, h3 {
  color: var(--text-color);
  font-family: 'DM Serif Display', serif;
  letter-spacing: .4px;
}

small, p, ul, footer div {
  color: var(--text-color-secondary);
}

img {
  max-width: 100%;
  height: auto;
}

.icon {
  display: block;
  margin: 0 auto 16px;
  height: 128px;
  width: 128px;
}

ul {
  margin-left: 24px;
  padding: 0;
}

a {
  color: var(--color-primary);
  text-underline-offset: 4px;
}

.button-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}

.btn {
  display: inline-block;
  border: 0;
  padding: 0 24px;
  background: var(--color-primary-fixed);
  color: #fff;
  font-size: 14px;
  letter-spacing: .4px;
  line-height: 40px;
  vertical-align: middle;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: var(--card-shadow);
  text-decoration: none;
}

.btn:hover {
  filter: brightness(1.2);
}

.btn:active {
  filter: brightness(1.4);
}

button {
  vertical-align: middle;
  display: inline-block;
  border: 0;
  cursor: pointer;
}

.screenshots {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 2fr);
}

.references > a > img, .screenshots > a > img {
  display: block;
  margin: auto;
  border-radius: 4px;
  box-shadow: var(--card-shadow);
  overflow: hidden;
}

.references > a:hover, .screenshots > a:hover {
  transform: scale(1.025);
}

.reference-list {
  margin-left: 0;
  list-style: none;
}

.screenshots > a > img {
  max-height: 214px;
}

.res-grid-2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
}

.text-center {
  text-align: center;
}

button, a, a * {
  transition-property: background-image, background-color, transform, filter, opacity, visibility;
  transition-duration: var(--transition-duration);
}

[data-email] {
  letter-spacing: -.15em;
}

label {
  color: var(--text-color-secondary);
}

input[type="email"], input[type="text"], textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 10px 18px;
  margin-bottom: 16px;
  font-family: arial, sans-serif;
  font-size: 14px;
  background: var(--color-background);
  box-shadow: var(--card-shadow);
  border: 1px solid var(--hover-color);
  border-radius: calc(var(--border-radius) / 2);
  outline: 0;
}

textarea {
  height: 100%;
  min-height: 192px;
  overflow-y: auto;
  resize: none;
  grid-row: span 2;
}

input[type="checkbox"] {
  display: inline-block;
  width: auto;
}

.checkbox {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

form button {
  width: 100%;
}

@media screen and (min-width: 780px) {
  .res-grid-2 {
    grid-template-columns: repeat(2, 2fr);
  }

  .screenshots {
    grid-template-columns: repeat(4, 4fr);
  }
}
