<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Domi04151309 - {{ page.title }}</title>
  <link rel="canonical" href="{{ site.url }}{{ page.url | remove: '.html' }}" />
  <meta name="description" content="On this page you can find most of my projects. Also a lot of it is open-source and published under the terms of the GNU GPL 3. Improvement suggestions are always welcome." />
  {% if layout.green %}<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/green.min.css" />{% else %}<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/blue.min.css" />{% endif %}
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.min.css" />
  <link rel="icon" href="{{site.baseurl}}/favicon.ico">
  <link rel="apple-touch-icon" href="{{site.baseurl}}/apple-touch-icon.PNG" />
  <meta name="msapplication-config" content="{{site.baseurl}}/ieconfig.xml" />
  <meta name="theme-color" content="#000000">
  <meta property="og:image" content="{{site.baseurl}}/preview.jpg">
  <link rel="manifest" href="{{site.baseurl}}/pwa/manifest.json">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <a href="{{site.baseurl}}/" class="logo">Home</a>
    <h1>Domi04151309</h1>
  </header>
  <article>
{{ content }}
  </article>
  <footer>
    <a href="{{site.baseurl}}/Other/sources"><h1>Sources</h1></a>
    <a href="{{site.baseurl}}/Other/cookie_policy"><h1>Cookie Policy</h1></a>
    <button type="button" onclick="toTop()" id="topBtn" title="Go to top"></button>
  </footer>
  <script src="{{site.baseurl}}/js/scrolling.min.js"></script>
  <script src="{{site.baseurl}}/js/postprocess.min.js" defer></script>
  <script>
    let newWorker
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('/sw.js').then(function(registration) {
           registration.addEventListener('updatefound', () => {
            newWorker = registration.installing;
            newWorker.addEventListener('statechange', () => {
              switch (newWorker.state) {
                case 'installed':
                  if (navigator.serviceWorker.controller) {
                    newWorker.postMessage({ action: 'skipWaiting' });
                  }
                  break;
              }
            });
          });
          console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }, function(err) {
          console.log('ServiceWorker registration failed: ', err);
        });
      });

      let refreshing;
      navigator.serviceWorker.addEventListener('controllerchange', function () {
        if (refreshing) return;
        window.location.reload();
        refreshing = true;
      });
    }
  </script>
</body>
</html>
