<!DOCTYPE html>
<html lang="en">
<head>
	<title>Domi04151309 - {{ page.title }}</title>
	<meta charset="utf-8">  
	<meta name="description" content="On this page you can find most of my projects. Also a lot of it is open-source and published under the terms of the GNU GPL 3. Improvement suggestions are always welcome." />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css" />
	<link rel="icon" href="{{site.baseurl}}/favicon.ico">
	<link rel="apple-touch-icon" href="{{site.baseurl}}/apple-touch-icon.PNG"/>
	<meta name="msapplication-config" content="{{site.baseurl}}/ieconfig.xml" />
	<meta name="theme-color" content="#000000">
	<meta property="og:image" content="{{site.baseurl}}/preview.jpg">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="./js/postprocess.js"></script>
	<header>
		<a href="{{site.baseurl}}/" class="logo"></a>
		<h1>Domi04151309</h1>
	</header>
  <article>
{{ content }}
	</article>
	<footer>
		<script src="{{site.baseurl}}/js/topScript.js"></script>
		<a href="{{site.baseurl}}/sources"><h1 class="sources">Sources</h1></a>
		<button onclick="topFunction()" id="TopButton" title="Go to top"></button>
	</footer>
</body>
</html>