<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Dominik{% if page.title %} - {{ page.title }}{% endif %}</title>
  <link rel="canonical" href="{{ site.url }}{{ page.url | remove: '.html' }}" />
  <meta name="description" content="{{ page.description | default: "On this page, you can find most of the projects I am working on in my free time. Most of them are open-source software and improvement suggestions are always welcome." | replace: "<br>", " "}}" />
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.min.css" />{% if page.home %}
  <meta name="keywords" content="domi04151309, domi, dominik, 04151309" />
  <meta name="google-site-verification" content="rlunQ8lHnv4cTauqGw4DcxCdiJTHAU1-gui1zlcS64w" />
  <link rel="stylesheet" type="text/css" href="/css/home.min.css" />{% endif %}
  <link rel="icon" href="{{site.baseurl}}/favicon.ico">
  <link rel="apple-touch-icon" href="{{site.baseurl}}/apple-touch-icon.PNG" />
  <meta name="msapplication-config" content="{{site.baseurl}}/ieconfig.xml" />
  <meta name="theme-color" content="#000000">
  <meta property="og:image" content="{{site.baseurl}}/preview.jpg">
  <link rel="manifest" href="{{site.baseurl}}/pwa/manifest.json">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <a href="{{site.baseurl}}/" class="logo">Home</a>
    <h1>Domi04151309</h1>
  </header>{% if page.home %}
{{ content }}{% else %}
  <main>
{{ content }}
</main>{% endif %}

  <button type="button" onclick="toTop()" id="topBtn" title="Go to top"></button>
  <footer>
    {% unless page.sources %}<a href="{{site.baseurl}}/Other/sources">Sources</a>{% endunless %}
    <span>&copy; 2020 - {{ site.time | date: "%Y" }} Domi04151309</span>
  </footer>
  <script src="{{site.baseurl}}/js/scrolling.min.js"></script>
  <script type="module" src="{{site.baseurl}}/js/postprocess.min.js"></script>
  <script>
    let newWorker
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('{{ site.baseurl }}/sw.js').then( registration => {
           registration.addEventListener('updatefound', () => {
            newWorker = registration.installing;
            newWorker.addEventListener('statechange', () => {
              switch (newWorker.state) {
                case 'installed':
                  if (navigator.serviceWorker.controller) {
                    newWorker.postMessage({ action: 'skipWaiting' });
                  }
                  break;
              }
            });
          });
          console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }, err => {
          console.log('ServiceWorker registration failed: ', err);
        });
      });

      let refreshing;
      navigator.serviceWorker.addEventListener('controllerchange', () => {
        if (refreshing) return;
        window.location.reload();
        refreshing = true;
      });
    }
  </script>
</body>
</html>
